@model RAYS.ViewModels.UserSearchViewModel

<div class="bg-white shadow-2xl rounded-lg p-8 flex flex-col h-[79vh] 510px:h-[90vh] mb-2 mt-20 510px:mt-0">
    <h1 class="text-3xl font-extrabold font-general text-black mb-6">User Search</h1>
    <form method="post">
        <div class="flex">
            <input type="text" name="Query" value="@Model.Query" placeholder="Search for users..."
                class="flex-grow min-w-36 border-gray-300 border-2 rounded-md bg-white text-black placeholder-gray-400 focus:outline-none focus:ring focus:ring-emerald-500 shadow-md" />
            <button type="submit"
                class="ml-2 p-2 bg-blue-600 text-white rounded-md hover:bg-blue-500 transition duration-200">
                Search
            </button>
        </div>
    </form>

    @if (Model.Results != null && Model.Results.Count > 0)
    {
        <div class="mt-4 w-2/5 mx-auto max-w-xl">
            <h2 class="font-bold text-center font-general">Search Results:</h2>
            <ul class="mt-2">
                @foreach (var user in Model.Results)
                {
                    <li class="border-b text-center border-gray-600 py-2">
                        <a href="@Url.Action("Profile", "Profile", new { userId = user.Id})"
                            class="text-blue-400 hover:underline font-general">
                            @user.Username
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
    else if (!string.IsNullOrWhiteSpace(Model.Query))
    {
        <div class="mt-4 text-gray-400">No users found.</div>
    }
</div>
