<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] RAYS</title>
    <link rel="stylesheet" href="~/css/app.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Legg til Material Icons hvis du bruker dem -->
</head>

<body class="bg-gray-100 flex h-screen flex-col">
    <!-- Top Bar -->
    <div class="sticky top-0 z-10 bg-white shadow">
        @await Html.PartialAsync("_TopBar") <!-- Inkluderer TopBar -->
    </div>

    <!-- Hovedcontainer -->
    <div class="flex w-full max-w-[1200px] mx-auto bg-gray-100 min-h-screen overflow-y-auto">
        <!-- Venstre Navbar -->
        <div class="flex-none">
            <partial name="_LeftNavbar" />
        </div>

        <!-- Hovedinnhold -->
        <div
            class="flex-grow post-textarea-grey bg-gray-100 p-6 pr-2 pl-2 overflow-y-auto w-full 300px:mb-12 510px:mb-0 510px:pl-24 510px:pr-5 580px:pr-10 md:pl-44 md:pr-16 870px:pl-48 870px:pr-20 970px:pr-16 1150px:pl-64 1150px:pr-14">
            <main role="main">
                @RenderBody()
            </main>
        </div>
        <!-- Høyre Navbar -->
        <div class="flex-none">
            @await Html.PartialAsync("_RightNavbar", ViewData)
        </div>
    </div>

    <!-- Bunnnavbar -->
    <div class="sticky bottom-0 z-10 bg-white shadow">
        @await Html.PartialAsync("_BottomNavbar") <!-- Inkluderer BottomNavbar -->
    </div>

    <!-- Script dependencies -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Add validation scripts -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <!-- Render validation scripts if present -->
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
