@{
    // Get the userId from the claims
    var userId = int.Parse(User.FindFirst("UserId")?.Value ?? "0");
}
<div class="hidden 970px:flex flex-col h-full 970px:w-48 1150px:w-60 bg-white text-black p-6 border-gray-200 border-l-2 border-r-2">
    <h2 class="text-2xl font-lexend ml-4 mt-4 pb-4 text-left">Friends</h2>
    <div class="flex-grow overflow-y-auto post-textarea-grey">
        <!-- Invoke FriendsListViewComponent with the userId -->
        @await Component.InvokeAsync("FriendsList", new { userId = userId })
    </div>
</div>
