@{
    Layout = null;
}

@model RAYS.ViewModels.LoginViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - RAYS</title>
    <link rel="stylesheet" href="~/css/app.css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-emerald-200 flex items-center justify-center min-h-screen px-5">
    <div class="flex flex-col md:flex-row bg-white rounded-2xl shadow-lg overflow-hidden max-w-5xl">
        
        <div class="flex flex-col justify-center p-8 md:p-14 flex-1">
            <span class="mb-3 text-5xl font-mono">RAYS</span>
            <span class="font-light text-zinc-500 mb-8 border-b-black border-b-2">
                Welcome Back! Please enter your details:
            </span>

            <!-- Display Validation Errors -->
            <div asp-validation-summary="All" class="text-red-500 mb-4"></div>

            <form asp-controller="User" asp-action="Login" method="post">
                <div class="py-3">
                    <span class="mb-2 text-md">Username</span>
                    <input type="text" class="w-full p-2 border border-gray-200 rounded-md placeholder:font-light placeholder:text-gray-500" asp-for="Username" />
                    <span asp-validation-for="Username" class="text-red-500"></span>
                </div>
                <div class="py-4">
                    <span class="mb-2 text-md">Password</span>
                    <input type="password" class="w-full p-2 border border-gray-200 rounded-md placeholder:font-light placeholder:text-gray-500" asp-for="Password" />
                    <span asp-validation-for="Password" class="text-red-500"></span>
                </div>
                <button type="submit" class="w-full bg-black text-white p-2 rounded-lg mb-6 hover:bg-gray-300 hover:text-black hover:border hover:border-gray-900">
                    Sign in
                </button>
            </form>
            <a asp-controller="User" asp-action="Register" class="font-bold text-black hover:text-gray-500">
                Sign up for free
            </a>
        </div>

        <!-- Image Section -->
        <div class="relative flex-1 md:block hidden">
            <img src="~/images/Login.jpg" alt="Login-page image" class="w-full h-full object-cover rounded-r-2xl" />
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
