@{
    Layout = null;
}


@model RAYS.ViewModels.LoginViewModel

<form asp-controller="User" asp-action="Login" method="post">
    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <button type="submit">Log In</button>
    <a asp-controller="User" asp-action="Register">Don't have an account? Register here.</a>
</form>
